/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/05/2015, 02:07:04 PM
    Author     : seront
*/

footer, #area_trabajo{
    display: none;
}
#header{
    display: none;
}
#irAlMenu{
    display: none;
}

body{
    background: white;
}
#tablaCirculaciones{
    /*float: left;*/
    /*position:relative;*/
    clear:both;
}
#tablaCirculaciones1{
    /*float: left;*/
    /*position:relative;*/
    clear:both;
}
.datagrid table {
    border-collapse: collapse; 
    text-align: left;
    width: 100%; } 

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif; 
    background: #fff; 
    /*overflow: hidden;*/ 
    border: 1px solid #0A0A0A; 
}
.datagrid table td, .datagrid table th { 
    padding: 0px 0px; 
}
.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );
    background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
    background-color:#8C8C8C; 
    color:#080808; 
    font-size: 15px; 
    font-weight: bold; 
    border-left: 1px solid #000203;
} 
.datagrid table thead th:first-child { 
    border: none; 
}
.datagrid table tbody td { 
    color: #00070A; 
    border-left: 1px solid #000000;
    font-size: 12px;
    border-bottom: 1px solid #676D70;
    font-weight: normal; 
}
.datagrid table tbody .alt td {
    background: #EBEBEB; 
    color: #00070A; 
}
.datagrid table tbody td:first-child {
    border-left: none; 
}
.datagrid table tbody tr:last-child td { 
    border-bottom: none; 
}
.datagrid table tfoot td div {
    border-top: 1px solid #0A0A0A;
    background: #EBEBEB;
}
.datagrid table tfoot td { 
    padding: 0;
    font-size: 12px
}
.datagrid table tfoot td div{
    padding: 2px;
}
.datagrid table tfoot td ul { 
    margin: 0;
    padding:0;
    list-style: none;
    text-align: right;
}
.datagrid table tfoot  li {
    display: inline; 
}
.datagrid table tfoot li a { 
    text-decoration: none;
    display: inline-block;
    padding: 2px 8px;
    margin: 1px;
    color: #F5F5F5;
    border: 1px solid #8C8C8C;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8C8C8C), color-stop(1, #7D7D7D) );
    background:-moz-linear-gradient( center top, #8C8C8C 5%, #7D7D7D 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C', endColorstr='#7D7D7D');
    background-color:#8C8C8C;
}
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover {
    text-decoration: none;
    border-color: #7D7D7D;
    color: #F5F5F5;
    background: none; 
    background-color:#8C8C8C;
}

div.dhtmlx_window_active, div.dhx_modal_cover_dv {                
    position: fixed !important; 
}
.saltoDePagina{
    display: block;
    height: 10px;
    /*position: relative;*/
    clear:both;
    page-break-before: always;
}

.encabezado{
    display: block;
    clear: both;
    /*margin-top: 70px;*/
    text-align: center;
}
.titulo{
    display: none;
}
header{
    height: 70px;
}
.h1{
    font-size: 16pt;
    font-weight: bold;
}
.h2{
    font-size: 14pt;
}

/*#graficaLineal{
    -moz-transform: rotate(90deg);
    height: 10000px;
}*/
/*body{
    
    -moz-transform: rotate(90deg);
    
}*/